# Adobe Analytics and Civic Cookie Control scripts
NEXT_PUBLIC_ADOBE_ANALYTICS_SCRIPT=
NEXT_PUBLIC_CIVIC_COOKIE_SCRIPT=
NEXT_PUBLIC_CIVIC_COOKIE_API_KEY=

# REDIS STORAGE INSTANCE (REDIS CACHE API)
REDIS_API_URL=
REDIS_API_KEY=

# REST API (End point to D365)
API_URL=
API_CODE=

# Toggle for holding page - set to true to enable the holding page, false to disable it and show the contact form
NEXT_PUBLIC_HOLDING_PAGE=

# Name of the session cookie - must be unique per app since apps sharing @maps-react/mhf can share a domain
COOKIE_NAME=

# -------- LOCAL DEV ONLY ENV VARS BELOW THIS LINE -------- #

# Azure Managed Redis - for connection to the Azure Managed Redis instance for local development via the scripts/redis-entra-connect.js script
AZURE_MANAGED_REDIS_CLIENT_ID=
AZURE_MANAGED_REDIS_CLIENT_SECRET=
AZURE_MANAGED_REDIS_HOST_NAME=
AZURE_MANAGED_REDIS_TENANT_ID=