## COMMON
MHPD_ISS=
MHPD_CLIENT_ID=
MHPD_CLIENT_SECRET=

## AEM
AEM_HOST=
AEM_USERNAME=

## BACKEND
MHPD_PENSION_DATA_SERVICE=
MHPD_MAPS_CDA_SERVICE=

## ANALYTICS
NEXT_PUBLIC_ADOBE_ANALYTICS_SCRIPT=

## SECURE BETA ACCESS
MHPD_SECURE_BETA_ENABLED=
MHPD_BETA_ACCESS_SERVICE=

## CONTACT
NEXT_PUBLIC_CONTACT_FORM_URL_EN=
NEXT_PUBLIC_CONTACT_FORM_URL_CY=
NEXT_PUBLIC_CONTACT_US_WIDGET_SRC=
NEXT_PUBLIC_CONTACT_US_WIDGET_DEPLOYMENT_ID_EN=
NEXT_PUBLIC_CONTACT_US_WIDGET_DEPLOYMENT_ID_CY=
NEXT_PUBLIC_WHATSAPP_NUMBER_EN=
NEXT_PUBLIC_WHATSAPP_NUMBER_CY=

## TOOL FEEDBACK
NEXT_PUBLIC_DEV_FEEDBACK_SITE_ID=
NEXT_PUBLIC_ENVIRONMENT=
